**/.idea/
**/.vscode/
.env
.devcontainer/.env
.devcontainer/devcontainer.env
/Docs/content/docs/*
!/Docs/content/docs/index.mdx
!/Docs/content/docs/Architecture/
node_modules
koala_prod.sql
koala_prod.pgdump
storage.zip
migration/
keycloak-bcrypt-provider/target/
Frontend/public/env-config.js
.playwright-mcp/
