HostUrl=http://localhost:5173 # The base url of the frontend application, used for making API requests from the frontend during development. This should point to the local development server for the frontend, e.g., http://localhost:3000, and should be updated to the production URL when deploying to production.
FrontendPort=5173 # Only used in the docker container in production, in the devcontainer alsways 5173
BackendPort=8080 # Only used in the docker container in production, in the devcontainer always 8080
KeycloakUrl= # The base url of the keycloak provider
KeycloakRealm= # The name of the keycloak realm
KeycloakClientId= # The client ID of the keycloak client

ApiUrl=http://localhost:8080 # The base url of the backend API, used for making API requests from the frontend during development. This should point to the local development server for the backend, e.g., http://localhost:8081, and should be updated to the production URL when deploying to production.

LOGO_URL= # The URL of the logo to be used in the application, e.g., https://public.svsticky.nl/logos/logo_compact_outline_wit.svg. This should point to a publicly accessible image that can be used as the logo in the application.

BOARD_PRIMARY_LIGHT="#f98f55ff"
BOARD_PRIMARY="#fa6b20"
BOARD_PRIMARY_DARK="#ca5617"