MollieApiKey=
HostUrl=http://localhost:3000
KeycloakAuthority=http://host.docker.internal:8085/realms/development # or something else...
KeycloakClientId=
KeycloakClientSecret=
KeycloakDisabledGroupId=