@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root{
  --board-primary-light: #f98f55ff;
  --board-primary: #fa6b20;
  --board-primary-dark: #ca5617;
  --board-secondary: blue;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    --board-primary-light: #8a5336ff;
    --board-primary: #914015ff;
    --board-primary-dark: #923d0fff;
    --board-secondary: blue;
  }
}
