HostUrl=https://localhost:5173
KeycloakUrl= # The base url of the keycloak provider
KeycloakRealm= # The name of the keycloak realm
KeycloakClientId= # The client ID of the keycloak client

BackendKeycloakClientId= # The client ID of the keycloak client for the backend authentication
KeycloakClientSecret= # The client secret for the backend authentication
MollieApiKey= # The mollie api key

ApiUrl=https://localhost:8080

AWS_ACCESS_KEY_ID=test # test for development, use real credentials in production
AWS_SECRET_ACCESS_KEY=test # test for development, use real credentials in production
AWS_REGION=us-east-1 # The AWS region where your S3 bucket is located, e.g., us-east-1
S3_SERVICE_URL=http://localstack:4566 # The URL for the S3 service, e.g., http://localhost:4566 for localstack

BOARD_GROUP_ID=1 # The ID of the board group in Keycloak, used for authorization purposes
