HostUrl=http://localhost:5173
KeycloakUrl= # The base url of the keycloak provider
KeycloakRealm= # The name of the keycloak realm
KeycloakClientId= # The client ID of the keycloak client

BackendKeycloakClientId= # The client ID of the keycloak client for the backend authentication
KeycloakClientSecret= # The client secret for the backend authentication
MollieApiKey= # The mollie api key
