HostUrl=http://localhost:5173
KeycloakUrl= # The base url of the keycloak provider
KeycloakRealm= # The realm of the keycloak provider

BackendKeycloakClientId= # The client ID of the keycloak client for the backend authentication
KeycloakClientSecret= # The client secret for the backend authentication
MollieApiKey= # The mollie api key
